<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.se_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SkillShop"></activity>
        <activity android:name=".Student.StudentSkill" />
        <activity android:name=".Teacher.TeacherManageStudent" />
        <activity android:name=".Student.StudentSubmitQuiz" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Student.StudentInfo" />
        <activity android:name=".Student.StudentDoQuiz" />
        <activity android:name=".Student.StudentMainClassActivity" />
        <activity android:name=".Teacher.TeacherShowPin" />
        <activity android:name=".Teacher.TeacherCreateQuiz" />
        <activity android:name=".Teacher.TeacherMainClassActivity" />
        <activity android:name=".Student.JoinClassActivity" />
        <activity android:name=".Teacher.CreateClassActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>